<div class="signup-wrapper">
  <div class="card-wrapper">
    <mat-card class="card">
      <mat-card-title class="title">Sign Up</mat-card-title>
      <mat-card-content>
        <div class="form">
          <div class="form-group">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                [(ngModel)]="userEmail"
                placeholder="name@domain.com"
                [formControl]="email"
                required
              />
              <button
                mat-button
                *ngIf="userEmail"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="userEmail = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="email.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                [(ngModel)]="userPassword"
                placeholder=""
                [type]="hide ? 'password' : 'text'"
                required
              />
              <div class="suffix" matSuffix>
                <button
                  mat-button
                  *ngIf="userPassword"
                  mat-icon-button
                  aria-label="Clear"
                  (click)="userPassword = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </div>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [(ngModel)]="confirmPassword"
                placeholder=""
                [type]="confirmHide ? 'password' : 'text'"
                required
              />
              <div class="suffix" matSuffix>
                <button
                  mat-button
                  *ngIf="confirmPassword"
                  mat-icon-button
                  aria-label="Clear"
                  (click)="confirmPassword = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  (click)="confirmHide = !confirmHide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="confirmHide"
                >
                  <mat-icon>{{
                    confirmHide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </div>
            </mat-form-field>
            <div class="form-group-btn">
              <button
                mat-flat-button
                color="primary"
                class="btn"
                (click)="signUp()"
              >
                Log In
              </button>
              <button
                mat-stroked-button
                color="accent"
                class="btn"
                (click)="clear()"
              >
                Clear
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
