html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-image: linear-gradient(to bottom right, #302B63, #0F0C29);
}