<div class="wrapper">
  <div class="form-group">
    <div class="input-list-item">
      <div class="form-field">
        <mat-form-field class="input-form-field">
          <input
            matInput
            placeholder="Enter item"
            name="todoItem"
            id="todoItem"
            [(ngModel)]="inputItem"
            (keyup.enter)="addItem()"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="dataItems">
    <div class="item-wrapper" *ngFor="let item of items">
      <div class="itemList">
        <div class="list-item">
          {{ item.name }}
        </div>
      </div>
      <div class="actionButton">
        <div class="delButton">
          <i class="material-icons" (click)="deleteItem(item)">
            delete
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
